[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
# telegram
telethon = "*"
cryptg = "*"
# web
fastapi = "*"
uvicorn = "*"
jinja2 = "*"
python-multipart = "*"
itsdangerous = "*" 
# plotting
plotly = "*"
pandas = "*"

[dev-packages]
mypy = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.11"
