{% extends "base.jinja2" %}

{% block main %}
<p>
    Welcome to <a href="https://github.com/MikeWent/tg-plot">tg-plot</a>
</p>

<p>
    Q: How to connect to Telegram?<br>
    A: Fill Settings and Channel ID first, then go to Plot and app will login you via phone & code.
</p>
<p>
    Q: Why the plot isn't on the main page?<br>
    A: Due to a bug in Plotly it works the best without additional elements on the page.
</p>
{% endblock main %}