{% extends "base.jinja2" %}

{% block main %}
<div class="container">
    <div class="row">
        <form method="POST">
            <h2>Telegram settings</h2>
            <p>Go to <a href="https://my.telegram.org/apps" target="_blank">my.telegram.org/apps</a></p>
            <div class="input-group fluid">
                <label>API ID: </label>
                <input name="telegram_api_id" value="{{ settings.telegram_api_id or '' }}">
            </div>
            <div class="input-group fluid">
                <label>API hash: </label>
                <input name="telegram_api_hash" value="{{ settings.telegram_api_hash or '' }}">
            </div>

            <br>

            <h2>Channel settings</h2>
            <p> Forward message to <a href="https://t.me/myidbot" target="_blank">@myidbot</a></p>
            <div class="input-group fluid">
                <label>Channel ID: </label>
                <input name="telegram_channel_id" value="{{ settings.telegram_channel_id or '' }}"
                    placeholder="-1000000000">
            </div>

            <br>

            <h2>Password</h2>
            <p>Update plot, access & change settings.</p>
            <div class="input-group fluid">
                <label>New password: </label>
                <input name="admin_password" type="password" autocomplete="off">
            </div>

            <br>


            <input type="submit" class="inverse" value="Save" />

        </form>
    </div>
</div>

{% endblock main %}